---
layout: default
---
<style type="text/css">
.head {
  height: 100px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
}
.head .links {
  position: absolute;
  top: 0px;
  left: 120px;
}
.title {
  margin-top: 10px;
}
.photo {
  max-width: 100px;
}
</style>
{% include nav_list.html %}
<div class="head">
  <img class="photo" src="https://github.com/czheo.png" alt="photo">
  <div class="links">
    <h2 class="title">{{ site.title }}</h2>
    [<a href="https://github.com/czheo">Github</a>]
    [<a href="https://twitter.com/czheo">Twitter</a>]
    <div class="rss">Subscribe via [<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>]</div>
  </div>
</div>
<div class="post_list">
  {% for post in site.posts %}
  <div class="post">
  <h3>
  <span class="date"><small>{{ post.date | date:"%Y-%m-%d" }}</small></span>
  <a href="{{ post.url }}">{{ post.title }}</a>
  </h3>
  </div>
  {% endfor %}
</div>
