---
layout: default
---
<style type="text/css">
code {
  padding: 2px 5px;
  background: #e1e4e5;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  font-size: 85%;
}
</style>
<div class='post'>
<div>
<a href="/">Top Page</a>
</div>
<div>
    {% if page.previous.url %}
    Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
    Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    {% endif %}
</div>
<div>
    <h1>{{ page.title }}</h1>
    <div class="date">{{ page.date | date:"%Y-%m-%d" }}</div>
    <div>
    {{ content }}
    </div>
</div>
</div>
