---
layout: default
---
<style type="text/css">
.date {
  color: grey;
}
</style>
<div>
<a href="/">Top Page</a>
</div>
<div>
    {% if(page.previous.url) %}
    Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    {% endif %}
    {% if(page.next.url) %}
    Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    {% endif %}
</div>
<div>
    <h2>{{ page.title }}</h2>
    <div class="date">{{ page.date | date:"%Y-%m-%d" }}</div>
    <div>
    {{ content }}
    </div>
</div>
